<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p></p>
            <hr>
        </div>
        <div class="col-md-4">
           <h4 style="color: #c1c1c1; text-align: center;">REMANUFACTURA DE TONER</h4> 
        </div>
        <div class="col-md-4">
            <p></p>
            <hr>
        </div>
    </div>
    <div>
        <img src="https://www.cartuchosytintasdelcentro.com.mx/userfiles/cartuchos_2018/image/proceso_de_la_remanufactura/sl_sl2preocesoremanufacturajpg_75bajpg-4895.jpg" alt="" width="100%">
    </div>
    <hr>
    <h1 style="text-align: center;">NOSOTROS </h1> 
    Eco-tóner, es una empresa cusqueña que viene desarrollando sus actividades en la industria de la remanufactura(reutilización) de cartuchos de tóner.

    Cuenta con diversas alianzas con proveedores de marcas reconocidas a nivel mundial, esto los convirtió en pioneros líderes en la remanufactura de cartuchos de tóner , 
    lo cual sin duda es la alternativa más viable en la actualidad.
    <hr>
    <div class="row" style="text-align: center;">
        <div class="col-md-6">
            <h3>Visión</h3>
            Ser la empresa No. 1 en el Perú, en la industria de la remanufactura de productos y servicios de impresión láser y en la comercialización vía medios electrónicos.   
        </div>
        <div class="col-md-6">
            <h3>Misión</h3>
            Contribuir con la sociedad facilitando productos de vanguardia, estamos enfocados en el cuidado del planeta, así como en brindar servicios con respaldo de personal altamente calificado e información actualizada.   
        </div>
    </div>
    <hr>
    <div class="">
        <h3>Proceso</h3>
        
        El proceso de remanufactura en Eco-tóner consiste en:
        
        · Recolección y reciclaje de tóner en desuso.
        
        · Diagnóstico de cada cartucho de tóner.
        
        · Remanufactura en si (Cambio de piezas y recarga de Tóner).
        
        · Pruebas de Impresión, puesta a punto, Control de calidad.  
        
        ·Embalado en cajas de cartón reciclado, los cartuchos se embalarán en cajas de cartón reconstruidas con una cinta representativa de la empresa que ara de precinto de seguridad. Para esto tomaremos las medidas a las cajas de HP y otras marcas.
    </div>
    <hr>
</div>

