.circulo {
    width: 24rem;
    height: 24rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f8f9faa8;}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}