<div class="container">
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">OPORTUNIDADES</th>
            <th scope="col">VALOR</th>
            <th scope="col">CLASIFICACIÓN</th>
            <th scope="col">VALOR PONDERADO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Ingreso en el Mercado como producto alternativo y eco-amigable.</td>
            <td>0.10</td>
            <td>3</td>
            <td>0.3</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Eventos tecnológicos o de innovación realizados por alguna entidad pública o privada donde se pueda mostrar nuestro producto.</td>
            <td>0.10</td>
            <td>3</td>
            <td>0.3</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Competencia escasa, en el área funcional de la empresa.</td>
            <td>0.20</td>
            <td>4</td>
            <td>0.8</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Alto consumo de impresión por parte de las entidades públicas.</td>
            <td>0.05</td>
            <td>3</td>
            <td>0.15</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Existencia de los e-comerce facilitando la venta por internet.</td>
            <td>0.05</td>
            <td>3</td>
            <td>0.15</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>AMENAZAS</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Surgimiento de la política de ahorro del papel y buenas prácticas en pro del cuidado del planeta.</td>
            <td>0.10</td>
            <td>1</td>
            <td>0.1</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Poco conocimiento de la remanufactura de tóner y mitos sobre este servicio.</td>
            <td>0.15</td>
            <td>4</td>
            <td>0.8</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Dependencia de proveedor de materia prima e insumos, ya que los insumos son importados desde E.E.U.U.</td>
            <td>0.15</td>
            <td>2</td>
            <td>0.3</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Ingreso	de	productos	alternativos	nuevos	de procedencia china a muy bajo costo.</td>
            <td>0.05</td>
            <td>1</td>
            <td>0.05</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Disminución de costos de venta de los productos originales.</td>
            <td>0.05</td>
            <td>1</td>
            <td>0.05</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Total</td>
            <td>1.00</td>
            <td>23</td>
            <td>2.50</td>
          </tr>
        </tbody>
      </table>
      
</div>

