<div class="container">
    <div class="titulo">
        <h3>Matriz de Evaluación del Factor Externo (EFE)</h3>
    </div>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">OPORTUNIDADES</th>
            <th scope="col">VALOR</th>
            <th scope="col">CLASIFICACIÓN</th>
            <th scope="col">VALOR PONDERADO</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Ingreso en el Mercado como producto alternativo y eco-amigable.</td>
            <td>0.10</td>
            <td>3</td>
            <td>0.3</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Eventos tecnológicos o de innovación realizados por alguna entidad pública o privada donde se pueda
                mostrar nuestro producto.
            </td>
            <td>0.10</td>
            <td>3</td>
            <td>0.3</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Competencia escasa, en el área funcional de la empresa.</td>
            <td>0.20</td>
            <td>4</td>
            <td>0.8</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Alto consumo de impresión por parte de las entidades públicas.</td>
            <td>0.05</td>
            <td>3</td>
            <td>0.15</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Existencia de los e-comerce facilitando la venta por internet.</td>
            <td>0.05</td>
            <td>3</td>
            <td>0.15</td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>AMENAZAS</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Surgimiento de la política de ahorro del papel y buenas prácticas en pro del cuidado del planeta.</td>
            <td>0.10</td>
            <td>1</td>
            <td>0.1</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Poco conocimiento de la remanufactura de tóner y mitos sobre este servicio.</td>
            <td>0.15</td>
            <td>4</td>
            <td>0.8</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Dependencia de proveedor de materia prima e insumos, ya que los insumos son importados desde E.E.U.U.
            </td>
            <td>0.15</td>
            <td>2</td>
            <td>0.3</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Ingreso de productos alternativos nuevos de procedencia china a muy bajo costo.</td>
            <td>0.05</td>
            <td>1</td>
            <td>0.05</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Disminución de costos de venta de los productos originales.</td>
            <td>0.05</td>
            <td>1</td>
            <td>0.05</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Total</td>
            <td>1.00</td>
            <td>23</td>
            <td>2.50</td>
        </tr>
        </tbody>
    </table>
    <h6>INTERPRETACION: </h6>
    <p>
        Este resultado indica que el sector es en promedio atractivo y se tiene oportunidades externas, otra interpretación importante es que en el rubro de la remanufactura se tiene una competencia escasa, a comparación de la demanda que existe en este rubro, esto nos posiciona como empresa en un punto donde las oportunidades externas son la mejor opción.
    </p>
</div>

<div class="container">
    <div class="titulo">
        <h3>Matriz de Evaluación del Factor Interno (EFI)</h3>
    </div>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FORTALEZAS</th>
            <th scope="col">VALOR</th>
            <th scope="col">CLASIFICACIÓN</th>
            <th scope="col">VALOR PONDERADO</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fort of fortalezas; let ind = index">
            <th scope="row">{{ind + 1}}</th>
            <td>{{fort.descripcion}}</td>
            <td>{{fort.valor | number : '1.2-2'}}</td>
            <td>{{fort.clasificacion}}</td>
            <td>{{fort.valor * fort.clasificacion| number : '1.2-2'}}</td>
        </tr>

        <tr>
            <th scope="row"></th>
            <td>AMENAZAS</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr *ngFor="let deb of debilidades; let ind = index">
            <th scope="row">{{ind + 1}}</th>
            <td>{{deb.descripcion}}</td>
            <td>{{deb.valor | number : '1.2-2'}}</td>
            <td>{{deb.clasificacion}}</td>
            <td>{{deb.valor * deb.clasificacion | number : '1.2-2'}}</td>
        </tr>
        <tr>
            <th scope="row">#</th>
            <td>Total</td>
            <td>1.00</td>
            <td>{{sumaCalificacion}}</td>
            <td>{{sumaPonderada | number : '1.2-2' }}</td>
        </tr>

        </tbody>
    </table>

</div>

<div class="container">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FACTORES CLAVES DE EXITO</th>
            <th scope="col">PONDERACION</th>
            <th scope="col" colspan="2">ECOTONNER</th>
            <th scope="col" colspan="2">ED-SUMINISTROS</th>
            <th scope="col" colspan="2">RECARGA TONER “C.C. AMERICA”</th>
        </tr>
        <tr>
            <th scope="col" colspan="3"></th>
            <th scope="col">Clasificacion</th>
            <th scope="col">Resultado</th>
            <th scope="col">Clasificacion</th>
            <th scope="col">Resultado</th>
            <th scope="col">Clasificacion</th>
            <th scope="col">Resultado</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of perfil; let ind = index">
            <th scope="row">{{ind + 1}}</th>
            <td>{{p.descripcion}}</td>
            <td>{{p.valor | number : '1.2-2'}}</td>
            <td>{{ecotonnerCal[ind]}}</td>
            <td>{{p.valor * ecotonnerCal[ind] | number : '1.2-2'}}</td>
            <td>{{edSuministrosCal[ind]}}</td>
            <td>{{p.valor * edSuministrosCal[ind] | number : '1.2-2'}}</td>
            <td>{{ccAmericaCal[ind]}}</td>
            <td>{{p.valor * ccAmericaCal[ind] | number : '1.2-2'}}</td>
        </tr>
        <tr>
            <th scope="row">{{perfil.length + 1}}</th>
            <td></td>
            <td>1.00</td>
            <td></td>
            <td>{{totalsEmpresas[0] | number : '1.2-2'}}</td>
            <td></td>
            <td>{{totalsEmpresas[1] | number : '1.2-2'}}</td>
            <td></td>
            <td>{{totalsEmpresas[2] | number : '1.2-2'}}</td>
        </tr>
        </tbody>
    </table>
    <img src="assets/images/bcg.png" alt="">
    <img src="assets/images/ePrincipal.png" alt="">
    <img src="assets/images/ie.png" alt="">
</div>
