<div class="container">
    <div class="titulo">
        <h1 style="text-align: center;">EL PROCESO DE REMANUFACTURA</h1>
    </div>
    <img src="assets/images/eco4.png" alt="" width="100%">
    <div class="titulo">
        <h1 style="text-align: center;">NUESTROS PRODUCTOS</h1>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-md-4">
            <img src="assets/images/eco5.jpg" alt="" width="100%">
            <h3>Cartuchos de toner</h3>
        </div>
        <div class="col-md-4">
            <img src="assets/images/eco6.jpg" alt="" width="100%">
            <h3>Cartuchos de tinta</h3>  
        </div>
        <div class="col-md-4">
            <img src="assets/images/eco7.jpg" alt="" width="100%">
            <h3>Accesorios</h3>
        </div>
    </div>
    

    <img src="assets/images/eco3.png" alt="" width="100%">

</div>
